th{
    text-align: right;
}

th, td{
    font-size: 13px;
}

table p{
    margin:0;
}

.fund-specification{
    font-size: 11px;
    color: grey;
}

.macro-strategy td{
    text-align: initial;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e3e3e3
}

.main-strategy td{
    text-align: initial;
    font-weight: bold;
    background-color: #fafafa;
    /* background-color: #f0f2f0; */
}

.fund p, td{
    font-weight: bold;
}