.App {
  text-align: center;
  background-color: #e3e3e3;
}

#fund-container{
  padding: 0%;
}

.title{
  font-weight: bold;
}

p {
  text-align: left;
  margin: 0px;
}

.risk{
  background-color: red;
}