.App {
  text-align: center;
}

.grid-container{
  border: 1px solid black;
}

#table-container, .risk-cell{
  padding: 0%;
}

.title{
  font-weight: bold;
}

p {
  text-align: left;
}

.risk{
  background-color: red;
}