.card-divider .input-group{
    text-transform: uppercase;
}
div.card-section{
    border-bottom: 2px solid #f4f5f7;
}

div.input-group{
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
}

.strategy-label{
    font-weight: bold;
    color: #505152;
}

input.strategy-input{
    margin: 0px;
}